<div class="navigation">
    <h3 class="ml-2 mt-2">
        <a href="/" style="color: #242424;">Thumbvids</a>
    </h3>
    <div class="ml-auto big mx-3">
        <ul>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/scratch">Edit Picture</a></li>
            <% if(typeof user !== 'undefined' ) { %>
                <li><a href="/google" target="_blank">Link Youtube</a></li>
                <li><a href="">Hi there, <%= user.firstName %></a></li>
            <% } else { %>
                <li><a href="/signin">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
            <% } %>
        </ul>
    </div>
    <div class="ml-auto ic mr-3">
        <i class="uil uil-bars header-icon"></i>
    </div>
    <div class="small">
        <div class="ul">
            <ul>
                <li class="times"><i class="uil uil-times"></i></li>
                <li><a href="/templates">Templates</a></li>
                <li><a href="/scratch">Edit Picture</a></li>
                <% if(typeof user !== 'undefined' ) { %>
                    <li><a href="/google" target="_blank">Link Youtube</a></li>
                    <li><a href="">Hi there, <%= user.firstName %></a></li>
                <% } else { %>
                    <li><a href="/signin">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
