<div class="navigation">
    <div class="side_flex">
        <a style="color: #fff;" href="/">
            <h3 class="logo">Thumbvids</h3>
            <!-- <img src="/images/logo.svg" alt="logo" /> -->
        </a>

        <!-- <div>
            <ul>
                <li class="sec_nav">
                    <a href="/templates">All Templates</a>
                </li>
                <li>|</li>
                <li class="sec_nav">
                    <a href="">My Portfolio</a>
                </li>
                <li class="sec_nav">
                    <a href="">My Resume</a>
                </li>
            </li>
        </div> -->
    </div>
    <div>
        <img src="/images/homepage/redesign/menu.svg" class="menubar" id="redesigned-menu" alt="open menu" />
    </div>
</div>
<div class="nav-content" id="redesigned-nav-content">
    <ul>
        <li><a href="">Design from Scratch</a></li>
        <li><a href="">See all Templates</a></li>
        <li><a href="">See my Portfolio</a></li>
        <li><a href="">Call me now</a></li>
        <li><a href="">Send me a mail</a></li>
        <li><a href="">See all Templates</a></li>
        <li><a href="">See all Templates</a></li>
        <li><a href="">Create an Account</a></li>
        <li><a href="">Log in to your profile</a></li>
        <li><a href="">Download my Resume</a></li>
    </ul>
    <img src="/images/homepage/redesign/x.svg" id="redesigned-times" class="times" alt="close menu" />
</div>