<div class="navigation">
    <div class="side_flex">
        <a style="color: #fff; text-decoration: none;" href="/">
            <h3 class="logo">Thumbvids</h3>
        </a>
    </div>
    <div class="desktop-only">
        <ul>
            <li><a href="/templates">See all Templates</a></li>
            <li><a target="_blank" href="https://eadelekeife.com">See my Portfolio</a></li>
            <li><a href="tel:+2348132277316">Call me now</a></li>
            <li><a href="mailTo:eadelekeife@gmail.com">Send me a mail</a></li>
            <li><a href="/js/resume.pdf" download="adeleke-ifeoluwase-resume">Download my Resume</a></li>
        </ul>
        <!-- <img src="/images/homepage/redesign/menu.svg" class="menubar" id="redesigned-menu" alt="open menu" /> -->
    </div>
    <div class="mobile-only">
        <img src="/images/menu.svg" class="targetNav" alt="menu bar" />
    </div>
</div>
<div class="nav-content" id="redesigned-nav-content">
    <ul>
        <li><a href="/templates">See all Templates</a></li>
        <li><a target="_blank" href="https://eadelekeife.com">See my Portfolio</a></li>
        <li><a href="tel:+2348132277316">Call me now</a></li>
        <li><a href="mailTo:eadelekeife@gmail.com">Send me a mail</a></li>
        <li><a href="/js/resume.pdf" download="adeleke-ifeoluwase-resume">Download my Resume</a></li>
    </ul>
    <img src="/images/homepage/redesign/x.svg" id="redesigned-times" class="times" alt="close menu" />
    <div class="nav-socials">
        <a href="https://twitter.com/eadelekeife" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://linkedin.com/in/ifeoluwase-adeleke-b3b75323a" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://github.com/eadelekeife" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://medium.com/@eadelekeife" target="_blank">
            <ion-icon name="logo-medium"></ion-icon>
        </a>
    </div>
</div>