<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <div class="sub_header">
            <h3>HOWDY!</h3>
            <p>Pivot is a Medium Rare template exclusive to Webflow. Browse more templates here.</p>
        </div>
        <%- include('partials/real_nav.ejs') %>
            <div class="website-redesign">
                <div class="hero">
                    <div class="contain">
                        <h1>We’re committed to creating a diverse and inclusive workplace.</h1>
                        <div>
                            <div class="grid_4">
                                <div>
                                    <img src="/images/homepage/redesign/apple_lg.jpg" alt="previous templates" />
                                </div>
                                <div>
                                    <img src="/images/homepage/redesign/natgeo_lg.jpg" alt="previous templates" />
                                </div>
                                <div>
                                    <img src="/images/homepage/redesign/glossier_lg.jpg" alt="previous templates" />
                                </div>
                                <div>
                                    <img src="/images/homepage/redesign/amex_lg.jpg" alt="previous templates" />
                                </div>
                                <!-- <div>
                                    <img src="/images/homepage/redesign/sofi.jpg" />
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumbvids-prop">
                    <div class="grid_2">
                        <div>
                            <img src="/images/homepage/redesign/featured-babe.jpg" alt="woman happy" />
                        </div>
                        <div>
                            <div class="contain">
                                <h3>Work that helps save lives.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>