<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/real_nav.ejs') %>
            <div class="new_homepage_design">
                <div class="website-redesign">
                    <div class="hero">
                        <div class="contain">
                            <h1>We’re committed to creating a diverse and inclusive workplace .</h1>
                            <div>
                                <div class="grid_4">
                                    <div>
                                        <img src="/images/homepage/redesign/apple_lg.jpg" alt="previous templates" />
                                    </div>
                                    <div>
                                        <img src="/images/homepage/redesign/natgeo_lg.jpg" alt="previous templates" />
                                    </div>
                                    <div>
                                        <img src="/images/homepage/redesign/glossier_lg.jpg" alt="previous templates" />
                                    </div>
                                    <div>
                                        <img src="/images/homepage/redesign/amex_lg.jpg" alt="previous templates" />
                                    </div>
                                    <!-- <div>
                                        <img src="/images/homepage/redesign/sofi.jpg" />
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <header>
                    <div class="contain">
                        <div class="grid_2">
                            <div>
                                <h2>ALWAYS ON EMPLOYEE PROGRESSION</h2>
                                <p>Career frameworks to structure, measure and accelerate employee growth. Do more
                                    with a business account that comes with top-end financial tools and integrations to
                                    help grow your business.</p>
                                <a href="/">Checkout Templates</a>
                            </div>
                            <div>
                                <img src="/images/homepage/last_hero.jpg" alt="last_hero" />
                            </div>
                        </div>
                    </div>
                </header>
                <div class="second_props">
                    <div class="props_text">
                        <p>The magic of Clubhouse is witnessing the most</p>
                        <h3>Unlikely <br /> <span>Collisions</span></h3>
                        <p>of people.</p>
                    </div>
                </div>
                <div class="third_props">
                    <div class="contain">
                        <div class="grid_2">
                            <div>
                                <h2>ALWAYS ON EMPLOYEE PROGRESSION</h2>
                                <p>Career frameworks to structure, measure and accelerate employee growth. Do more
                                    with a business account that comes with top-end financial tools and integrations to
                                    help grow your business.</p>
                                <a href="">Hello there fine boy</a>
                            </div>
                            <div>
                                <img src="/images/homepage/last_hero.jpg" alt="last_hero" />
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="contain">
                        <div class="grid_4">
                            <div>
                                <h3>Hey! How <br /> you ' doing? <ion-icon name="telescope-outline"></ion-icon>
                                </h3>
                                <p>If you've made it this far, you have my respect. That probably doesn't mean much to
                                    you right now giving that you are just meeting me but I really appreciate you. My
                                    name
                                    is Adeleke Ife and this is one of my portfolio websites.</p>
                            </div>
                            <div>
                                <h3>Get in <br /> touch with me</h3>
                                <ul>
                                    <li><a href="">Templates</a></li>
                                    <li><a href="">Create Account</a></li>
                                    <li><a href="">Sign In</a></li>
                                    <li><a href="">How It Works</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3>Get in <br /> touch with me</h3>
                                <ul>
                                    <li><a href="/js/resume.pdf" download="adeleke-ifeoluwase-resume">Download my
                                            Resume</a></li>
                                    <li><a target="_blank" href="https://adelekeife.com">See my Portfolio</a></li>
                                    <li><a href="tel:+2348132277316">Call me now</a></li>
                                    <li><a href="mailTo:eadelekeife@gmail.com">Send me a mail</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3>My Social <br /> Media Links </h3>
                                <a href="https://twitter.com/eadelekeife" target="_blank">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                                <a href="https://linkedin.com/in/ifeoluwase-adeleke-b3b75323a" target="_blank">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                                <a href="https://github.com/eadelekeife" target="_blank">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a>
                                <a href="https://medium.com/@eadelekeife" target="_blank">
                                    <ion-icon name="logo-medium"></ion-icon>
                                </a>
                                <ul>
                                    <li><a href="tel:+2348132277316">+234 813 227 7316</a></li>
                                    <li><a href="mailTo:eadelekeife@gmail.com">eadelekeife@gmail.com</a></li>
                                    <li><a href="">Lagos, Nigeria</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
    </body>

</html>