<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <div class="sub_header">
            <h3>HOWDY!</h3>
            <p>Pivot is a Medium Rare template exclusive to Webflow. Browse more templates here.</p>
        </div>
        <%- include('partials/real_nav.ejs') %>
            <div class="new_homepage_design">
                <header>
                    <div class="contain">
                        <div class="grid_2">
                            <div>
                                <h2>ALWAYS ON EMPLOYEE PROGRESSION</h2>
                                <p>Career frameworks to structure, measure and accelerate employee growth. Do more
                                    with a business account that comes with top-end financial tools and integrations to
                                    help grow your business.</p>
                                <a href="/">Checkout Templates</a>
                            </div>
                            <div>
                                <img src="/images/homepage/last_hero.jpg" alt="last_hero" />
                            </div>
                        </div>
                    </div>
                </header>
                <div class="first_props">
                    <div class="grid_2">
                        <div class="grid_text">
                            <div class="props_text">
                                <div>
                                    <img src="/images/homepage/panda_2.svg" alt="panda_2" class="small_img" />
                                    <h2>Equitable groWth</h2>
                                </div>
                                <p>Pando brings transparency and accountability to career development so every employee
                                    has
                                    a clear and achievable path.</p>
                            </div>
                        </div>
                        <div>
                            <img src="/images/homepage/panda_1.svg" alt="panda_1" class="main_img" />
                        </div>
                    </div>
                </div>
                <div class="second_props">
                    <div class="props_text">
                        <p>The magic of Clubhouse is witnessing the most</p>
                        <h3>Unlikely <br /> <span>Collisions</span></h3>
                        <p>of people.</p>
                    </div>
                </div>
                <div class="third_props">
                    <div class="contain">
                        <div class="grid_2">
                            <div>
                                <h2>ALWAYS ON EMPLOYEE PROGRESSION</h2>
                                <p>Career frameworks to structure, measure and accelerate employee growth. Do more
                                    with a business account that comes with top-end financial tools and integrations to
                                    help grow your business.</p>
                                <a href="">Hello there fine boy</a>
                            </div>
                            <div>
                                <img src="/images/homepage/last_hero.jpg" alt="last_hero" />
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="contain">
                        <div class="grid_4">
                            <div>
                                <h3>Hey! How <br /> you ' doing? <ion-icon name="telescope-outline"></ion-icon>
                                </h3>
                                <p>If you've made it this far, you have my respect. That probably doesn't mean much to
                                    you right now giving that you are just meeting me but I really appreciate you. I am
                                    junior developer with 2 years experience creating amazing apps.</p>
                            </div>
                            <div>
                                <h3>Get in <br /> touch with me</h3>
                                <ul>
                                    <li><a href="">Templates</a></li>
                                    <li><a href="">Create Account</a></li>
                                    <li><a href="">Sign In</a></li>
                                    <li><a href="">How It Works</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3>Get in <br /> touch with me</h3>
                                <ul>
                                    <li><a href="">My Resume</a></li>
                                    <li><a href="">My Portfolio</a></li>
                                    <li><a href="">Call now</a></li>
                                    <li><a href="">Send a mail</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3>My Social <br /> Media Links </h3>
                                <ion-icon name="logo-twitter"></ion-icon>
                                <ion-icon name="logo-linkedin"></ion-icon>
                                <ion-icon name="logo-github"></ion-icon>
                                <ion-icon name="logo-medium"></ion-icon>
                                <ul>
                                    <li><a href="">+234 813 227 7316</a></li>
                                    <li><a href="">eadelekeife@gmail.com</a></li>
                                    <li><a href="">Lagos, Nigeria</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sec_footer">
                            <p>That probably doesn't mean much to you right now giving that you are just meeting.</p>
                            <div>
                                <input type="text" />
                                <button>Send your email address</button>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
    </body>

</html>