<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <div class="sub_header">
            <h3>HOWDY!</h3>
            <p>Pivot is a Medium Rare template exclusive to Webflow. Browse more templates here.</p>
        </div>
        <%- include('partials/real_nav.ejs') %>
            <div class="new_hero_section">
                <div class="table_div contain">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Goodbye hum-drum.
                                Showcase your product with Pivot.</h1>
                            <p>Traackr will improve influencer discovery productivity, simplify campaign management, and
                                provide compelling reporting so you can deliver results for clients.</p>
                            <div class="double_button">
                                <a href="/templates" class="bg_black">View Templates</a>
                                <!-- <button class="border_black">Reach out to me</button> -->
                            </div>
                        </div>
                        <div>
                            <div class="hero_image_cover">
                                <img src="images/homepage/hero.svg" alt="hero" />
                                <img src="images/homepage/hand.svg" class="hand" alt="hand style" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new_thumbvids_props">
                <div class="contain">
                    <div class="grid_3">
                        <div class="grid_flex no_space">
                            <div class="check_circle">
                                <img src="images/homepage/check.svg" alt="check" />
                            </div>
                            <h4>Used by over 35,000 customers since 2016.</h4>
                        </div>
                        <div class="grid_flex no_space">
                            <div class="check_circle">
                                <img src="images/homepage/check.svg" alt="check" />
                            </div>
                            <h4>Created by a team of design entusiasts.</h4>
                        </div>
                        <div class="grid_flex no_space">
                            <div class="check_circle">
                                <img src="images/homepage/check.svg" alt="check" />
                            </div>
                            <h4>Beautiful and innovative designs to help you stand out online.</h4>
                        </div>
                    </div>
                </div>
                <img src="images/homepage/green_flow.svg" class="flow" alt="flow" />
            </div>
            <div class="sec new_thumbvids_showcase mt_5">
                <div class="contain">
                    <div class="center">
                        <!-- <h2>Plenty of ways to advertise your product.</h2> -->
                    </div>
                    <div class="grid_2 main_grid">
                        <div>
                            <div class="resize">
                                <div class="white_text_div">
                                    <h4>Plenty of ways to advertise your product.</h4>
                                    <p class="main_paragraph">Get perfect Google fonts for your business category. Every
                                        businses needs a font
                                        style and family that stands out and fits. With over 30 beautifully designed
                                        template soltions, your business is well.
                                        catered for. Find designs across different fields to meet your spec.</p>
                                    <div class="resize flex_2_equal">
                                        <div class="white_text_div">
                                            <h4>Free Google Font</h4>
                                            <p>Get perfect Google fonts for your business category. Every businses needs
                                                a font
                                                style and family that stands out and fits.</p>
                                        </div>
                                        <div class="white_text_div">
                                            <h4>Easy to use color bar</h4>
                                            <!-- <p>Your business has a color code. Easy import that into your designs to set the
                                                    tone for everything you do.</p> -->
                                            <p>Get perfect Google fonts for your business category. Every businses needs
                                                a font
                                                style and family that stands out and fits.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="snapshot_box">
                                <div class="snapshot_design">
                                    <div class="snapshot_header">
                                        <h4>Audience Snapshot</h4>
                                    </div>
                                    <div class="snapshot_body">
                                        <div class="grid_2">
                                            <div>
                                                <h2>3,458</h2>
                                                <p>Unique Visitors</p>
                                            </div>
                                            <div>
                                                <h2>193</h2>
                                                <p>Conversions</p>
                                            </div>
                                        </div>
                                        <h5>View Report</h5>
                                    </div>
                                    <img src="images/homepage/megaphone.svg" class="megaphone" alt="padlock" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_box mt_5">
                <div class="contain">
                    <h2>Plenty of ways to advertise your product.</h2>
                    <p>Get perfect Google fonts for your business category. Every businses needs a font style and family
                        that stands out and fits. With over 30 beautifully designed template soltions, your business is
                        well. catered for.</p>
                    <div class="grid_4">
                        <div>
                            <div>
                                <img src="images/homepage/img2.png" alt="icon" />
                            </div>
                            <div>
                                <h4>Two-click separation process</h4>
                                <p>Instantly divide your PDF into individual one-pagers, or extract specific pages to
                                    form a
                                    new
                                    PDF document. You can also add and extract pages from multiple PDFs simultaneously.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/homepage/img2.png" alt="icon" />
                            </div>
                            <div>
                                <h4>Two-click separation process</h4>
                                <p>Instantly divide your PDF into individual one-pagers, or extract specific pages to
                                    form a
                                    new
                                    PDF document. You can also add and extract pages from multiple PDFs simultaneously.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/homepage/img3.png" alt="icon" />
                            </div>
                            <div>
                                <h4>Two-click separation process</h4>
                                <p>Instantly divide your PDF into individual one-pagers, or extract specific pages to
                                    form a
                                    new
                                    PDF document. You can also add and extract pages from multiple PDFs simultaneously.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/homepage/img3.png" alt="icon" />
                            </div>
                            <div>
                                <h4>Two-click separation process</h4>
                                <p>Instantly divide your PDF into individual one-pagers, or extract specific pages to
                                    form a
                                    new
                                    PDF document. You can also add and extract pages from multiple PDFs simultaneously.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec new_thumbvids_showcase mt_5">
                <div class="contain">
                    <div class="center">
                        <!-- <h2>Plenty of ways to advertise your product.</h2> -->
                    </div>
                    <div class="grid_2 main">
                        <div>
                            <div class="resize">
                                <div class="white_text_div">
                                    <h4>Plenty of ways to advertise your product.</h4>
                                    <p class="main_paragraph">Get perfect Google fonts for your business category. Every
                                        businses needs a font
                                        style and family that stands out and fits. With over 30 beautifully designed
                                        template soltions, your business is well.
                                        catered for. Find designs across different fields to meet your spec.</p>
                                    <p class="main_paragraph">Basic shapes like Rectangles, Sqaures, Stars, Circles etc
                                        with both solid and
                                        transparent backgrounds can be selected to fit in your image. With over 30
                                        beautifully designed
                                        template soltions, your business is well.</p>
                                </div>
                                <div class="list_block">
                                    <div class="grid_flex no_space">
                                        <div class="check_circle">
                                            <img src="images/homepage/check.svg" alt="check" />
                                        </div>
                                        <p style="margin-bottom: 0px;">Used by over 35,000 customers since 2016.</p>
                                    </div>
                                    <div class="grid_flex no_space">
                                        <div class="check_circle">
                                            <img src="images/homepage/check.svg" alt="check" />
                                        </div>
                                        <p style="margin-bottom: 0px;">Created by a team of design entusiasts.</p>
                                    </div>
                                    <div class="grid_flex no_space">
                                        <div class="check_circle">
                                            <img src="images/homepage/check.svg" alt="check" />
                                        </div>
                                        <p style="margin-bottom: 0px;">Beautiful and innovative designs to help you
                                            stand out online.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="snapshot_box">
                                <div class="snapshot_design">
                                    <div class="snapshot_body">
                                        <div class="snapshot_story">
                                            <h3>Payments</h3>
                                            <p>
                                                <span style="padding: 1px 5px;" class="bg_red">25</span>
                                                There have been 25 events in the last week.
                                            </p>
                                        </div>
                                        <hr />
                                        <div style="margin-bottom: 20px;" class="grid_flex">
                                            <div>
                                                <div class="grid_flex">
                                                    <img src="images/homepage/client_1.jpg" class="customer"
                                                        alt="customer 1" />
                                                    <p style="margin-bottom: 0; margin-left: 5px;">Cassandra D.</p>
                                                </div>
                                            </div>
                                            <h5 style="margin-bottom: 0;">$75.00</h5>
                                        </div>
                                        <div style="margin-bottom: 5px;" class="grid_flex">
                                            <div>
                                                <div class="grid_flex">
                                                    <img src="images/homepage/client_2.jpg" class="customer"
                                                        alt="customer 1" />
                                                    <p style="margin-bottom: 0; margin-left: 5px;">Cassandra D.</p>
                                                </div>
                                            </div>
                                            <h5 style="margin-bottom: 0;">$75.00</h5>
                                        </div>
                                    </div>
                                    <div class="snapshot_footer">
                                        <div class="grid_flex">
                                            <h4>Summary</h4>
                                            <div>
                                                <div class="grid_flex">
                                                    <h3><span class="bg_white">PENDING</span> $1350.00</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="images/homepage/phone.svg" class="phone" alt="padlock" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social_proof mt_5">
                <div class="flex_2_equal">
                    <div>
                        <div class="proof_box">
                            <h3>Pivot makes it easy to showcase your app and <span>highlight features</span> in a slick,
                                professional way.</h3>
                            <button class="bg_white">Arrange demo</button>
                            <p>Join over 35,000 satisfied Medium Rare Customers.</p>
                        </div>
                    </div>
                    <div>
                        <div class="proof_display">
                            <img src="images/homepage/woman.jpeg" class="woman_proof" alt="woman with laptop" />
                            <div class="dark_blur_cover">

                            </div>
                            <div class="grid_flex no_space">
                                <p>"Pivot is an indespensible tool for our business."</p>
                                <h4>Kelly P.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="images/homepage/pink_flow.svg" class="flow" alt="flow" />
            <div class="props_page mt_5">
                <div class="contain">
                    <div class="final">
                        <div>
                            <h1>Thumbvids is just a portfolio project I wanted to try my hands on.</h1>
                            <p>This app is not intended to replace heavyweights like Adobe and Canva. I doubt you will
                                even get the same kind of flow and design this site gives you from those kind of top
                                dogs.
                                This is just something I tasked myself to create. I wanted to see if I could create
                                something as cool as Canva and I tried it in like a month Nothing more.</p>
                            <div class="image_block">
                                <img src="images/homepage/_1.svg" alt="_1" />
                                <img src="images/homepage/_2.svg" alt="_1" />
                                <img src="images/homepage/_3.svg" alt="_1" />
                                <img src="images/homepage/_4.svg" alt="_1" />
                                <img src="images/homepage/_5.svg" alt="_1" />
                                <img src="images/homepage/_6.svg" alt="_1" />
                            </div>

                            <div class="double_button">
                                <a href="/templates" class="bg_black">Start Designing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="contain">
                    <div class="grid_4_first_bias">
                        <div>
                            <h4>Thumbvids</h4>
                            <p>I love experimenting and trying out new things. It explains my entire journey into
                                softwate development. I needed a design for something sometime ago and I came across
                                Canva. I was wowed by this site that I immediately started researching how to create
                                something like it. While this is just a small part of Canva's entire product, I have
                                proven to myself that I can build something cool.</p>
                        </div>
                        <div>
                            <h4>Why Thumbvids?</h4>
                            <ul>
                                <li>Thumbvids for Ecommerce</li>
                                <li>Thumbvids for Technology</li>
                                <li>Thumbvids for Sports</li>
                                <li>Thumbvids for Startups</li>
                                <li>All Templates</li>
                            </ul>
                        </div>
                        <div>
                            <h4>About Thumbvids</h4>
                            <ul>
                                <li>Who we are</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Connect with us</h4>
                            <ul>
                                <li>Who we are</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 
    <section class="new-header pt-4 mt-4">
        <div class="container">
            <div class="showFlex">
                <div class="row-1">
                    <h4 class="title">This app is no way near finished.</h4>
                    <p class="sub-title">
                        I am not done yet as I have Photo Grids and Video Edits to add. Stay with me and come back
                        frequently as I update and also add cool templates for you to work with
                    </p>
                </div>
                <div class="row-2">
                    <img src="images/homeImage/print.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-cover pt-4 mt-4">
        <div class="bg-text">
            <h4>Won over already? Start creating designs now</h4>
            <div class="mt-4">
                <a href="/templates" class="">Start now</a>
            </div>
        </div>
    </section> -->
    </body>

</html>