<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/real_nav.ejs') %>
            <!-- <header>
        <div class="header-text">
            <h3>Create Beautiful Photo Edits without any Design Knowledge</h3>
            <p class="pt-2">
                This site is built by me but 3 icons and one image were gotten from a site without permission.
                Unfortunately,
                you need design knowledge to do that and I will remove them as soon as I get someone to create them for
                me Thank you.
            </p>
            <div class="mt-3">
                <a href="" class="">Get Started</a>
            </div>
        </div>
    </header> -->
            <div class="hero_section">
                <div class="table_div">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Great teamwork starts with a digital HQ</h1>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                            <div class="double_button">
                                <button class="bg_black">View Templates</button>
                                <button class="border_black">Reach out to me</button>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div class="thumbvids_props contain mt-5">
                    <div class="first_div_cover">
                        <h1>Move faster with Payroll that’s easy to use and seriously smart.</h1>
                        <p>With all your people, tools and communication in one place, you can work faster and
                            more flexibly than ever before. With your other work apps connected to Slack, you can
                            work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                            can automate away routine tasks.</p>
                    </div>
                    <div class="grid_4">
                        <div>
                            <img src="images/homepage/props_1.svg" alt="props of thumbvids" />
                            <h4>Apply promos and coupons</h4>
                            <p>Follow these steps to redeem a promotion code or gift card. If you received a code from
                                an Instacart retail partner, redeem it on their Powered by Instacart site.</p>
                        </div>
                        <div>
                            <img src="images/homepage/props_2.svg" alt="props of thumbvids" />
                            <h4>Apply promos and coupons</h4>
                            <p>Follow these steps to redeem a promotion code or gift card. If you received a code from
                                an Instacart retail partner, redeem it on their Powered by Instacart site.</p>
                        </div>
                        <div>
                            <img src="images/homepage/props_3.svg" alt="props of thumbvids" />
                            <h4>Apply promos and coupons</h4>
                            <p>Follow these steps to redeem a promotion code or gift card. If you received a code from
                                an Instacart retail partner, redeem it on their Powered by Instacart site.</p>
                        </div>
                        <div>
                            <img src="images/homepage/props_4.svg" alt="props of thumbvids" />
                            <h4>Apply promos and coupons</h4>
                            <p>Follow these steps to redeem a promotion code or gift card. If you received a code from
                                an Instacart retail partner, redeem it on their Powered by Instacart site.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page colored invert mt-5">
                <div class="contain">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Move faster with Payroll that’s easy to use and seriously smart.</h1>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                            <div class="resize flex_2_equal">
                                <div class="white_text_div">
                                    <img src="images/homepage/lock.svg" alt="padlock" />
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps connected to Slack,
                                        you
                                        can work faster by switching tabs less.</p>
                                </div>
                                <div class="white_text_div">
                                    <img src="images/homepage/lego.svg" alt="padlock" />
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps connected to Slack,
                                        you
                                        can work faster by switching tabs less.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_cover">
                                <img src="images/homepage/img_1.jpg" alt="hero" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page mt-5">
                <div class="contain">
                    <div class="flex_2_equal" style="display: flex; align-items: flex-end; grid-gap: 20px;">
                        <div>
                            <h1>Move faster with Payroll that’s easy to use and seriously smart.</h1>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                            <div class="resize flex_2_equal">
                                <div class="white_text_div">
                                    <h4>Easy to use</h4>
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps.</p>
                                </div>
                                <div class="white_text_div">
                                    <h4>Easy to use</h4>
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps.</p>
                                </div>
                                <div class="white_text_div">
                                    <h4>Easy to use</h4>
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps.</p>
                                </div>
                                <div class="white_text_div">
                                    <h4>Easy to use</h4>
                                    <p>With all your people, tools and communication in one place, you can work faster
                                        and
                                        more flexibly than ever before. With your other work apps.</p>
                                </div>
                            </div>
                        </div>
                        <img src="images/homepage/img_1.jpg" alt="hero" />
                    </div>
                </div>
            </div>


            <div class="props_page colored mt-5">
                <div class="contain">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Move faster with Payroll that’s easy to use and seriously smart.</h1>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                        </div>
                        <div>
                            <div class="img_cover">
                                <img src="images/homepage/bump.png" alt="hero" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page mt-5">
                <div class="contain">
                    <div class="final">
                        <div>
                            <h1>The modern HR platform for payroll, benefits, and more.</h1>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                            <div class="image_block">
                                <img src="images/homepage/_1.svg" alt="_1" />
                                <img src="images/homepage/_2.svg" alt="_1" />
                                <img src="images/homepage/_3.svg" alt="_1" />
                                <img src="images/homepage/_4.svg" alt="_1" />
                                <img src="images/homepage/_5.svg" alt="_1" />
                                <img src="images/homepage/_6.svg" alt="_1" />
                            </div>

                            <div class="double_button">
                                <button class="bg_black">Start paying dues</button>
                                <button class="border_black">For Businesses</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="contain">
                    <div class="grid_4_first_bias">
                        <div>
                            <h4>Vetro Pay</h4>
                            <p>With all your people, tools and communication in one place, you can work faster and
                                more flexibly than ever before. With your other work apps connected to Slack, you can
                                work faster by switching tabs less. And with powerful tools like Workflow Builder, you
                                can automate away routine tasks.</p>
                        </div>
                        <div>
                            <h4>Why Vetro Pay?</h4>
                            <ul>
                                <li>Slack vs. Email</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                        <div>
                            <h4>About Vetro Pay</h4>
                            <ul>
                                <li>Slack vs. Email</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Connect with us</h4>
                            <ul>
                                <li>Slack vs. Email</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 
    <section class="new-header pt-4 mt-4">
        <div class="container">
            <div class="showFlex">
                <div class="row-1">
                    <h4 class="title">This app is no way near finished.</h4>
                    <p class="sub-title">
                        I am not done yet as I have Photo Grids and Video Edits to add. Stay with me and come back
                        frequently as I update and also add cool templates for you to work with
                    </p>
                </div>
                <div class="row-2">
                    <img src="images/homeImage/print.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-cover pt-4 mt-4">
        <div class="bg-text">
            <h4>Won over already? Start creating designs now</h4>
            <div class="mt-4">
                <a href="/templates" class="">Start now</a>
            </div>
        </div>
    </section> -->
    </body>

</html>