<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/real_nav.ejs') %>
            <!-- <header>
        <div class="header-text">
            <h3>Create Beautiful Photo Edits without any Design Knowledge</h3>
            <p class="pt-2">
                This site is built by me but 3 icons and one image were gotten from a site without permission.
                Unfortunately,
                you need design knowledge to do that and I will remove them as soon as I get someone to create them for
                me Thank you.
            </p>
            <div class="mt-3">
                <a href="" class="">Get Started</a>
            </div>
        </div>
    </header> -->
            <div class="hero_section">
                <div class="table_div">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Create Beautiful media graphics faster than ever</h1>
                            <p>Creating images should be a simple straightforward task. However, not everybody can use
                                heavyweght softwares like Photoshop or Corel Draw. This is the idea for quick design
                                applications
                                like this. Like in the message shown in the modal earlier, this is just a portfolio
                                project And
                                might not be perfect for your business needs. But it is a good place to play around</p>
                            <div class="double_button">
                                <a href="/templates" class="bg_black">View Templates</a>
                                <!-- <button class="border_black">Reach out to me</button> -->
                            </div>
                        </div>
                        <div>
                            <img src="images/homepage/resources.webp" alt="hero" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbvids_props contain mt-5">
                    <div class="first_div_cover">
                        <h1>Move faster with a webapp that is easy to use and understands you better.</h1>
                        <p>Boost your ecommerce business, youtube content, projects with stylishly designed templates.
                            Find easy to use portfolios under popular categories like Money, Ecommerce, Sport,
                            Technology etc and finetune them to fit your project requirements. With all your,
                            technology in one place, you can work faster and more flexibly than ever before.</p>
                    </div>
                    <div class="grid_4">
                        <div>
                            <img src="images/homepage/props_1.svg" alt="props of thumbvids" />
                            <h4>Find editable templates</h4>
                            <p>Thumbvids has been designed to fit into every of your design objectives. Find
                                beautifully designed templates to get you started.</p>
                        </div>
                        <div>
                            <img src="images/homepage/props_2.svg" alt="props of thumbvids" />
                            <h4>Finetune templates for your needs</h4>
                            <p>Every template is editable giving you the freedom to try roll your sleeves and awaken
                                your inner picasso.
                            </p>
                        </div>
                        <div>
                            <img src="images/homepage/props_3.svg" alt="props of thumbvids" />
                            <h4>Save designs for future</h4>
                            <p>By designing with a signed in account, your designs are
                                automatically saved for you to access and edit later.</p>
                        </div>
                        <div>
                            <img src="images/homepage/props_4.svg" alt="props of thumbvids" />
                            <h4>Download designs for local use</h4>
                            <p>Saving images on this system is not the final piece of your jigsaw.
                                Download your designs to your local computer to use as you like.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page colored invert mt-5">
                <div class="contain">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Uniquely designed solutions for you and your business.</h1>
                            <p>Onlne graphic design does not have to be complex. Your business also needs to be unique
                                and special. You need beautiful an unique images, fonts, shapes, filters to make your
                                business standout and give it that competitive edge which it needs. Choose from a large
                                array of options to get started.</p>
                            <div class="resize flex_2_equal">
                                <div class="white_text_div">
                                    <img src="images/homepage/lock.svg" alt="padlock" />
                                    <p>Your business most probably has a unique color code. It most probably has a font
                                        family and it most probably has a unique design border style. You get everything
                                        here on Thumbvids.</p>
                                </div>
                                <div class="white_text_div">
                                    <img src="images/homepage/lego.svg" alt="padlock" />
                                    <p>Images that are set on your graphic designs are also a very important part of
                                        your design. With Thumbvids, you can select over 10000 images strategically set
                                        for your needs.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_cover">
                                <img src="images/homepage/pay.png" alt="hero" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page bg_white mt-5">
                <div class="contain">
                    <div class="flex_2_equal" style="display: flex; align-items: flex-end; grid-gap: 20px;">
                        <div>
                            <h1>Your business is moving fast, get an equally fast design solution</h1>
                            <p>With all your tools and requirements in one place, you can work faster and
                                more flexibly than ever before. Easily import images from your local computer to add to
                                your designs whether as foreground images or background images. With powerful tools like
                                Thumbvids Brush, you can experiment anyhow you like and freestyle away.</p>
                            <div class="resize flex_2_equal">
                                <div class="white_text_div">
                                    <h4>Free Google Font</h4>
                                    <p>Get perfect Google fonts for your business category. Every businses needs a font
                                        style and family that stands out and fits.</p>
                                </div>
                                <div class="white_text_div">
                                    <h4>Easy to use color bar</h4>
                                    <p>Your business has a color code. Easy import that into your designs to set the
                                        tone for everything you do.</p>
                                </div>
                                <div class="white_text_div">
                                    <h4>30+ Templates Designs</h4>
                                    <p>With over 30 beautifully designed template soltions, your business is well
                                        catered for. Find designs across different fields to meet your spec.</p>
                                </div>
                                <div class="white_text_div last">
                                    <h4>Easy to use shapes</h4>
                                    <p>Basic shapes like Rectangles, Sqaures, Stars, Circles etc with both solid and
                                        transparent backgrounds can be selected to fit in your image.</p>
                                </div>
                            </div>
                        </div>
                        <img src="images/homepage/img_1.jpg" alt="hero" />
                    </div>
                </div>
            </div>
            <div class="props_page colored mt-5">
                <div class="contain">
                    <div class="flex_2_equal">
                        <div>
                            <h1>Move faster with a solution that’s easy to use and seriously smart.</h1>
                            <p>With all your tools and requirements in one place, you can work faster and
                                more flexibly than ever before. Easily import images from your local computer to add to
                                your designs whether as foreground images or background images. With powerful tools like
                                Thumbvids Brush, you can experiment anyhow you like and freestyle away.</p>
                            <p>Onlne graphic design does not have to be complex. Your business also needs to be unique
                                and special. You need beautiful an unique images, fonts, shapes, filters to make your
                                business standout and give it that competitive edge which it needs. Choose from a large
                                array of options to get started.</p>
                        </div>
                        <div>
                            <div class="img_cover">
                                <img src="images/homepage/bump.png" alt="hero" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="props_page mt-5">
                <div class="contain">
                    <div class="final">
                        <div>
                            <h1>Thumbvids is just a portfolio project I wanted to try my hands on.</h1>
                            <p>This app is not intended to replace heavyweights like Adobe and Canva. I doubt you will
                                even get the same kind of flow and design this site gives you from those kind of top
                                dogs.
                                This is just something I tasked myself to create. I wanted to see if I could create
                                something as cool as Canva and I tried it in like a month Nothing more.</p>
                            <div class="image_block">
                                <img src="images/homepage/_1.svg" alt="_1" />
                                <img src="images/homepage/_2.svg" alt="_1" />
                                <img src="images/homepage/_3.svg" alt="_1" />
                                <img src="images/homepage/_4.svg" alt="_1" />
                                <img src="images/homepage/_5.svg" alt="_1" />
                                <img src="images/homepage/_6.svg" alt="_1" />
                            </div>

                            <div class="double_button">
                                <a href="/templates" class="bg_black">Start Designing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="contain">
                    <div class="grid_4_first_bias">
                        <div>
                            <h4>Thumbvids</h4>
                            <p>I love experimenting and trying out new things. It explains my entire journey into
                                softwate development. I needed a design for something sometime ago and I came across
                                Canva. I was wowed by this site that I immediately started researching how to create
                                something like it. While this is just a small part of Canva's entire product, I have
                                proven to myself that I can build something cool.</p>
                        </div>
                        <div>
                            <h4>Why Thumbvids?</h4>
                            <ul>
                                <li>Thumbvids for Ecommerce</li>
                                <li>Thumbvids for Technology</li>
                                <li>Thumbvids for Sports</li>
                                <li>Thumbvids for Startups</li>
                                <li>All Templates</li>
                            </ul>
                        </div>
                        <div>
                            <h4>About Thumbvids</h4>
                            <ul>
                                <li>Who we are</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Connect with us</h4>
                            <ul>
                                <li>Who we are</li>
                                <li>Channels</li>
                                <li>Engagement</li>
                                <li>Scale</li>
                                <li>Watch the Demo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 
    <section class="new-header pt-4 mt-4">
        <div class="container">
            <div class="showFlex">
                <div class="row-1">
                    <h4 class="title">This app is no way near finished.</h4>
                    <p class="sub-title">
                        I am not done yet as I have Photo Grids and Video Edits to add. Stay with me and come back
                        frequently as I update and also add cool templates for you to work with
                    </p>
                </div>
                <div class="row-2">
                    <img src="images/homeImage/print.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-cover pt-4 mt-4">
        <div class="bg-text">
            <h4>Won over already? Start creating designs now</h4>
            <div class="mt-4">
                <a href="/templates" class="">Start now</a>
            </div>
        </div>
    </section> -->
    </body>

</html>