<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

    <header>
        <%- include('partials/nav.ejs') %>
        <div class="header-text">
            <h3>Create Beautiful Photo Edits without any Design Knowledge</h3>
            <p class="pt-2">
                This site is built by me but 3 icons and one image were gotten from a site without permission.
                Unfortunately,
                you need design knowledge to do that and I will remove them as soon as I get someone to create them for
                me Thank you.
            </p>
            <div class="mt-3">
                <a href="" class="">Get Started</a>
            </div>
        </div>
    </header>

    <section class="sec-header pt-5 mt-5">
        <div class="contain">
            <h4 class="title">Create designs that stand out.</h4>
            <p class="sub-title">
                Welcome to thumbvids, I was wondering how canva.com was created so I decided to create mine. Check it
                out and
                I would love to get your feedback.
            </p>

            <div class="row mt-5 pt-5 text-center">
                <div class="col-lg-4 col-md-4 mb-4">
                    <img src="images/homeImage/featureicon1.png" alt="" class="img-fluid">
                    <div class="text mt-3">
                        <h5>Create Stunning Youtube Thumbnails</h5>
                        <p class="mt-2">
                            We work with recruiters to design resume templates that format automatically.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <img src="images/homeImage/featureicon2.png" alt="" class="img-fluid">
                    <div class="text mt-3">
                        <h5>Put images together in a grid</h5>
                        <p class="mt-2">
                            We work with recruiters to design resume templates that format automatically.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <img src="images/homeImage/featureicon3.png" alt="" class="img-fluid">
                    <div class="text mt-3">
                        <h5>Annotate videos in real-time</h5>
                        <p class="mt-2">
                            We work with recruiters to design resume templates that format automatically.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="sec-bg pt-5 mt-5 pb-2">
        <div class="contain pt-3">
            <div class="text-center">
                <h4 class="title">What are the benefits of ThumbVids you say?</h4>
            </div>
            <div class="row mt-5 pt-3">
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-share-alt mr-3"></i>
                        <div class="media-body">
                            <h5>Share and Download</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-lock-alt mr-3"></i>
                        <div class="media-body">
                            <h5>Save designs in a secure Account</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-tachometer-fast-alt mr-3"></i>
                        <div class="media-body">
                            <h5>Cut out unneccessary delays</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-link-add mr-3"></i>
                        <div class="media-body">
                            <h5>Link to Youtube</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-images mr-3"></i>
                        <div class="media-body">
                            <h5>Hundreds of free stock Images</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 pb-2">
                    <div class="media">
                        <i class="uil uil-headphones mr-3"></i>
                        <div class="media-body">
                            <h5>Extremely easy to use</h5>
                            <p class="">
                                Write a cover letter using the same templates as your resume.We work with recruiters to
                                design resume templates.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="sec-header pt-5 mt-5">
        <div class="contain">
            <h4 class="title">Get started as easy as ABCD</h4>
            <p class="sub-title">
                I have tried to make this app as easy to use as possible but if you are still having issues, follow this
                guide I have laid out
            </p>

            <div class="row mt-4 pt-4 text-center">
                <div class="col-lg-4 col-md-4 mb-4">
                    <h1>1</h1>
                    <div class="text mt-3">
                        <h5>Select Preset Templates</h5>
                        <p class="mt-2">
                            I am in no way a design guy but I have tried to come up with some designs. You can also
                            start from scratch if my designs are too suckish for you.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <h1>2</h1>
                    <div class="text mt-3">
                        <h5>Design Thumbnail to your taste</h5>
                        <p class="mt-2">
                            As I have said, I am no design guy so this is the time to awaken your inner Picasso and
                            create amazing stuff. I have laid out beautiful tools I think you will need
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <h1>3</h1>
                    <div class="text mt-3">
                        <h5>Save and Use Thumbnail</h5>
                        <p class="mt-2">
                            Save your design and use for anything you like. You can also link your Youtube Account and
                            upload directly. Your account needs to be verifiedby Youtube first though
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="new-header pt-4 mt-4">
        <div class="container">
            <div class="showFlex">
                <div class="row-1">
                    <h4 class="title">This app is no way near finished.</h4>
                    <p class="sub-title">
                        I am not done yet as I have Photo Grids and Video Edits to add. Stay with me and come back
                        frequently as I update and also add cool templates for you to work with
                    </p>
                </div>
                <div class="row-2">
                    <img src="images/homeImage/print.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-cover pt-4 mt-4">
        <div class="bg-text">
            <h4>Won over already? Start creating designs now</h4>
            <div class="mt-4">
                <a href="/templates" class="">Start now</a>
            </div>
        </div>
    </section>


    <footer class="p-5">
        <div class="contain">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    &copy; 2020. All Rights Reserved
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="">
                        <li><a href="/templates">Templates</a></li>
                        <li><a href="signin">Sign up</a></li>
                        <li><a href="/signup">Sign in</a></li>
                        <li><a href="">Edit Pictures</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="contain">
            <div class="mt-5 text-center">
                <i class="uil uil-facebook-f fb"></i>
                <i class="uil uil-linkedin li"></i>
                <i class="uil uil-twitter-alt tw"></i>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > 100) {
                    $('.nav').addClass('fix');
                } else {
                    $('.nav').removeClass('fix');
                }
            })
        })
        let currStyle;
        document.querySelector('.nav .header-icon ').addEventListener('click', () => {
            if (!currStyle) {
                currStyle = getComputedStyle(document.querySelector('.small ul')).display;
                document.querySelector('.small .ul').style.display = 'block';
                document.querySelector('.small').style.display = 'block';
            } else {
                currStyle = null;
                document.querySelector('.small .ul').style.display = 'none';
                document.querySelector('.small').style.display = 'none';
            }
        })
        document.querySelector('.nav .times ').addEventListener('click', () => {
            if (!currStyle) {
                currStyle = getComputedStyle(document.querySelector('.small ul')).display;
                document.querySelector('.small .ul').style.display = 'block';
                document.querySelector('.small').style.display = 'block';
            } else {
                currStyle = null;
                document.querySelector('.small .ul').style.display = 'none';
                document.querySelector('.small').style.display = 'none';
            }
        })

    </script>
</body>

</html>