@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('../fonts/sofia\ pro/SofiaProBold.woff');
}

@font-face {
    font-family: 'Larsseit Bold';
    src: url('../Larsseit/Larsseit/Larsseit-Bold.otf');
}

@font-face {
    font-family: 'Akira Expanded';
    src: url('../fonts/Akira/Akira\ Expanded\ Demo.otf');
}

@font-face {
    font-family: 'Wotfard Regular';
    src: url('../fonts/Wotfard/wotfard_regular.woff2');
}

@font-face {
    font-family: 'Cerebri Medium';
    src: url('../fonts/cerebri-sans-cufonfonts/Cerebri\ Sans\ Book.ttf');
}

@font-face {
    font-family: 'Cerebri Semi-Bold';
    src: url('../fonts/cerebri-sans-cufonfonts/Cerebri\ Sans\ SemiBold.ttf');
}

@font-face {
    font-family: 'General Sans Medium';
    src: url('../fonts/general_sans/GeneralSans-Medium.woff');
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('../fonts/general_sans/GeneralSans-Bold.woff');
}

@font-face {
    font-family: 'Freight Text Medium';
    src: url('../fonts/FreightTextProMedium-Regular.otf');
}

@font-face {
    font-family: 'Gordita Bold';
    src: url('../fonts/gordita/Gordita\ Bold.otf');
}

@font-face {
    font-family: 'Gordita Regular';
    src: url('../fonts/gordita/Gordita\ Regular.otf');
}

@font-face {
    font-family: 'Maison Neue Book';
    src: url('../fonts/maison/maison-neue-book.ttf');
}

@font-face {
    font-family: 'Maison Neue Bold';
    src: url('../fonts/maison/FontsFree-Net-Maison-Neue-Bold.ttf');
}

@font-face {
    font-family: 'Sailec Regular';
    src: url('../fonts/sailec/Sailec-Regular.ttf');
}

@font-face {
    font-family: 'Akira Expanded';
    src: url('../fonts/Akira/Akira\ Expanded\ Demo.otf');
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.otf');
}

@font-face {
    font-family: 'Jelani';
    src: url('../fonts/jelani.woff');
}

@font-face {
    font-family: 'Fake Serif';
    src: url('../fonts/Fake\ Serif.otf');
}


* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gordita Regular';
    font-family: 'Wotfard Regular';
}

h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Gordita Bold';
}

body, html {
    font-size: 15px;
}

.contain {
    padding: 0 2vw;
}

.container {
    padding: 0 4vw;
}

.bg_red {
    background: #EF3D3D;
    color: #fff;
    font-weight: 600;
    border: 1px solid #EF3D3D;
    padding: 13px 25px;
    border-radius: 3px;
}

.bg_black {
    background: #111111;
    color: #fff;
    font-weight: 600;
    border: 1px solid #111111;
    padding: 15px 35px;
    border-radius: 3px;
}

.bg_white {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 3px;
}

.bg_black.full_width {
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2vw;
    z-index: 10;
}

.navigation img.menubar {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.nav-content {
    position: fixed;
    background: #000;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
}

.nav-content ul {
    margin: 0%;
    padding-top: 40px;
}

.nav-content ul li {
    list-style: none;
}

.nav-content .nav-socials {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.nav-content .nav-socials a {
    color: #fff;
    margin-right: 20px;
}

.nav-content .nav-socials a ion-icon {
    font-size: 2rem;
}

.nav-content .times {
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 10px;
}

.nav-content li a {
    color: #feffbc !important;
    line-height: 2.1;
    font-size: 1.6rem;
    font-family: 'Wotfard Regular';
}

.sub_header {
    background: #FFF8E6;
    background: #093A3E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    grid-gap: 10px;
}

.sub_header h3 {
    /* display: block; */
    color: #fff;
    transform: rotate(-3deg);
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.sub_header p {
    margin: 0px;
    color: #fff;
}

.navigation.fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0%;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
}

.logo {
    margin: 0%;
    font-size: 30px;
    margin-right: 30px;
    font-family: 'Array', sans-serif;
    /* color: #fff; */
    color: #000;
    text-decoration: none;
}

.grid_4 img {
    height: 100%;
    width: 100%;
}

.navigation .side_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul li {
    display: inline-block;
    padding: 10px 10px;
}

.navigation ul li a {
    line-height: 1.5;
    font-size: .9rem;
    color: #111111;
    margin: 0%;
    font-weight: 500;
    font-family: 'Gordita Regular';
    font-family: 'Wotfard Regular';
}

.navigation ul li:last-child a {
    background: #000;
    color: #fff;
    padding: 12px 15px;
    border-radius: 3px;
    font-size: .9rem;
}

.navigation ul li:last-child {
    margin-right: 0px;
    padding-right: 0px;
}

.navigation .border_right {
    border-right: 1px solid #E0E0E0;
    padding-right: 30px;
}

.navigation ul li a.bg_white {
    color: #000;
}

.navigation ul li a.bg_red {
    background: #EF3D3D;
    padding: 12px 25px;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
}

.navigation img {
    margin: 0%;
    padding: 0%;
}

.hero_section {
    background: #F9D873;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2vw;
    min-height: 25rem;
    width: 100%;
    /* padding-bottom: 1%; */
    display: table;
}

.hero_section .table_div {
    display: table-cell;
    vertical-align: middle;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid_3 img {
    width: 100%;
    height: 100%;
}

.hero_section .flex_2_equal img {
    height: 25rem;
    object-fit: cover;
    object-position: center left;
}

/* .hero_section .table_div {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 2%;
} */

.hero_section h1 {
    font-size: 28px;
    width: 80%;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 5px;
}

.hero_section p {
    font-size: 16px;
    line-height: 1.7;
}

.hero_section button.bg_black {
    background: #000;
    color: #fff;
    font-weight: 600;
    border: 1px solid #000;
    padding: 15px 25px;
    border-radius: 3px;
}

.hero_section button.border_black {
    background: transparent;
    color: #000;
    font-weight: 600;
    border: 2px solid #000;
    padding: 13px 25px;
    border-radius: 3px;
}

.hero_section .double_button button.bg_black {
    margin-right: 10px;
}

.first_div_cover {
    width: 50%;
}

.props_page .grid_4 p {
    line-height: 1.7;
    font-size: 14px;
}

.props_page .grid_4 h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.props_page .grid_4 img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.flex_2_equal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.flex_2_equal img {
    width: 100%;
    height: 100%;
}

.grid_4_first_bias {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr repeat(3, 1fr);
}

.mt_5 {
    margin-top: 5% !important;
}

.props_page .final {
    width: 60%;
    margin: 0% auto;
    display: block;
    text-align: center;
}

.props_page .final h1 {
    margin: 0% auto;
    display: block;
    width: 70%;
}

.props_page .final img {
    height: 2.5rem;
    margin: 0 15px;
}

.props_page .final {
    padding-bottom: 3%;
}

/* .props_page img {
    height: 25rem;
    width: auto;
    margin: 0% auto;
    display: block;
} */

.img_cover {
    background: #F5F5F5;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin: 0% auto;
    display: block;
}

.props_page .resize img {
    height: 2.0rem;
    width: auto;
    margin-bottom: 5px;
}

.props_page .resize p {
    font-size: 14px;
}

.props_page .resize .white_text_div {
    /* background: #fff; */
}

.props_page .final button.bg_black {
    background: #141518;
    color: #fff;
    font-weight: 600;
    border: 1px solid #141518;
    padding: 10px 25px;
    border-radius: 3px;
    margin-right: 10px;
}

.props_page .final button.border_black {
    background: transparent;
    color: #141518;
    font-weight: 600;
    border: 1px solid #141518;
    padding: 10px 25px;
    border-radius: 3px;
}

.props_page .final .image_block {
    padding-bottom: 40px;
    padding-top: 30px;
}

.props_page.colored {
    background: #F4EDE4;
    padding: 3% 0;
}

.props_page.colored.invert {
    background: #0A8080;
    padding: 3% 0;
}

.props_page h1 {
    font-size: 24px;
    width: 70%;
    font-weight: 600;
    line-height: 1.5;
}

.props_page p {
    font-size: 15px;
    line-height: 1.8;
}

.props_page.colored.invert h1 {
    color: #FFF;
}

.props_page.colored.invert p {
    color: #FFF;
}

.props_page ul li {
    line-height: 1.7;
    font-size: 16px;
}

footer {
    background: #141518;
    padding: 4% 0;
}

footer ul li {
    line-height: 2.1;
    list-style: none;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

footer .grid_4 {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr;
    align-items: unset;
    grid-gap: 30px;
}

footer h3 {
    color: #fff;
    font-size: .9rem;
    font-family: 'Akira Expanded';
}

footer .grid_4 ion-icon {
    color: #91949c;
    font-size: 1.4rem;
    margin-right: 10px;
}

footer .grid_4 .social_media ion-icon {
    border: 1px solid #91949c;
    padding: 10px;
    border-radius: 50%;
}

footer p, footer ul li a {
    font-size: .9rem;
    color: #91949c;
    font-family: 'Wotfard Regular';
    line-height: 2.1;
}

/* thumbvids_props */
.thumbvids_props .flex_2_equal.left {
    justify-items: left !important;
}

.thumbvids_props .flex_2_equal.right {
    justify-items: flex-end !important;
}

.thumbvids_props video {
    display: inline-block;
    vertical-align: baseline;
}

.thumbvids_props .first_div_cover p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 50px;
}

.thumbvids_props .grid_4 p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0%;
}

.thumbvids_props h1 {
    font-size: 22px;
    width: 80%;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
}

.thumbvids_props img {
    height: 4rem;
    width: auto;
    border-radius: 3px;
    margin-bottom: 5px;
}

.thumbvids_props h4 {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
}

.thumbvids_image_props {
    display: flex;
    grid-gap: 30px;
}

/* auth_form */
.auth_form {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/auth/auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.auth_form .auth_form_cover {
    align-self: center;
    width: 40%;
    background: #fff;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

label {
    display: block;
    font-size: 13px;
    margin-bottom: 0%;
}

.form_group {
    margin-bottom: 20px;
}

.form_group input, .form_group select {
    width: 100% !important;
    height: 3rem !important;
    border: 1px solid #EAEAEA !important;
    border-radius: 3px !important;
    padding: 0% 10px !important;
}

.form_group .input_group input {
    width: 90% !important;
    float: left;
}

.form_group .input_group div.input-group-append {
    width: 10%;
    height: 3rem;
}

.auth_form span {
    display: block;
    margin-bottom: 5px;
}

.auth_form h5 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0%;
}

.modal-body .template_data p {
    font-size: 14px;
}

.modal-body .template_data h3 {
    font-size: 16px;
    font-weight: 600;
}

.form_flex {
    display: flex;
    grid-gap: 10px;
    width: 100%;
}

.form_flex .form_group {
    flex: 1;
}

.auth_form button {
    margin-bottom: 10px;
}

/* templates */
.templates .templates_hero {
    background: #F5EEE7;
    border-radius: 4px;
    height: 20rem;
    position: relative;
    overflow: hidden;
    display: table;
}

.templates .templates_hero img {
    position: absolute;
    right: -20%;
    top: 0%;
}

.templates .templates_hero .templates_hero_content {
    width: 60%;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3%;
}

.templates .templates_hero .templates_hero_content h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0%;
}

.templates .templates_hero .templates_hero_content p {
    font-size: 16px;
    line-height: 1.8;
}

.templates .tags {
    background: #F2F3F5;
    border-radius: 3px;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.templates .tags a {
    font-weight: 400;
    text-decoration: none;
    font-family: 'Wotfard Regular';
    font-size: .8rem;
    color: rgba(0, 0, 0, .7) !important;
}

.templates .grid_4 img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
    cursor: pointer;
}

.template_block_cover {
    margin-bottom: 3%;
}

.template_block_cover h4.template_block_title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 800;
}

.template_preview h2 {
    font-size: 23px;
    font-weight: 700;
}

.template_preview p {
    font-size: 14px;
    line-height: 1.8;
}

.template_preview a.bg_black {
    display: block;
    text-align: center;
    padding: 13px;
}

#showColor {
    margin: 0%;
    padding: 0%;
}

#showColor button {
    border: 1px solid #DCE0E4;
}

.resize.flex_2_equal h4 {
    font-size: 15px;
}

@media screen and (min-width:720px) {
    .show-on-desktop-only {
        display: inline-block !important;
    }

    .show-on-mobile-only {
        display: none !important;
    }
}

@media screen and (max-width:720px) {
    .hero_section .flex_2_equal {
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        font-size: 30px;
    }

    .show-on-desktop-only {
        display: none !important;
    }

    .show-on-mobile-only {
        display: block !important;
    }

    .navigation ul li.show-on-mobile-only {
        padding: 0%;
    }

    .navigation ul li.show-on-mobile-only a.bg_black {
        padding: 10px 15px;
    }

    .navigation {
        padding: 10px 2vw;
    }

    .flex_2_equal {
        display: block;
    }

    .hero_section {
        /* height: 30rem; */
        height: max-content;
        padding-bottom: 10%;
    }

    .hero_section p {
        font-size: 14px;
        line-height: 1.7;
    }

    .hero_section h1 {
        width: 70%;
        font-weight: 800;
        font-size: 23px;
        line-height: 1.5;
    }

    .first_div_cover {
        width: 100%;
    }

    .thumbvids_props .first_div_cover p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .thumbvids_props .grid_4 {
        display: block;
    }

    .props_page .resize .white_text_div h4 {
        font-size: 14px;
    }

    .thumbvids_props .grid_4 div, .props_page .resize .white_text_div {
        margin-bottom: 30px;
    }

    .props_page .resize .white_text_div.last {
        margin-bottom: 0px;
    }

    .thumbvids_props img {
        height: 3rem;
        margin-bottom: 15px;
    }

    .thumbvids_props h1 {
        width: 90%;
        font-size: 20px;
    }

    .thumbvids_props .grid_4 p {
        line-height: 1.7;
    }

    .thumbvids_props .grid_4 h4 {
        margin-bottom: 5px;
        font-weight: 700;
    }

    .props_page.colored.invert, .props_page.colored {
        padding: 15% 0%;
    }

    .props_page h1 {
        width: 90%;
        font-size: 20px;
        font-weight: 800;
    }

    .props_page p {
        font-size: 14px;
        line-height: 1.7;
    }

    .props_page p {
        margin-bottom: 30px;
    }

    .props_page .resize p {
        margin-bottom: 0%;
    }

    .props_page .resize img {
        margin-bottom: 10px;
    }

    .props_page .flex_2_equal {
        flex-direction: column;
    }

    /* .props_page.colored .flex_2_equal img {
        width: 80%;
        height: auto;
    } */

    .props_page .final h1 {
        width: 100%;
    }

    .props_page .final p {
        width: 90%;
        margin: 0% auto;
        display: block;
    }

    .props_page .final {
        width: 100%;
    }

    .props_page .final img {
        margin: 0% 5px;
    }

    footer .grid_4_first_bias {
        display: block;
    }

    footer .grid_4_first_bias div {
        margin-bottom: 30px;
    }

    footer h4 {
        margin-bottom: 10px;
    }

    .props_page .final {
        margin-bottom: 10%;
    }

    .props_page.bg_white img {
        display: none;
    }

    .templates .templates_hero img {
        position: absolute;
        right: -20%;
        top: 0%;
        display: none;
    }

    .templates .templates_hero .templates_hero_content {
        width: 100%;
        z-index: 10;
        display: table-cell;
        vertical-align: middle;
        padding-left: 3%;
    }

    .templates .templates_hero .templates_hero_content p {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 0%;
    }

    .grid_4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_4 .tag_blocks {
        display: none;
    }


    .templates .templates_hero .templates_hero_content h3 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .template_block_cover {
        margin-bottom: 10%;
    }

    .modal-body, .mx-2, .col-lg-7.col-md-7 {
        padding: 0% !important;
        padding: 0% !important;
    }

    .col-lg-7.col-md-7 img {
        width: 100%;
        height: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 3%;
        padding-bottom: 5%;
    }

    .template_preview h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .template_preview p {
        font-size: 13px;
        line-height: 1.8;
    }

    .template_preview a.bg_black.p-2 {
        padding: 15px;
    }

    .main_canvas {
        display: none;
    }

    .sorry_message {
        height: 70vh;
        display: table;
        padding-bottom: 15%;
        background: #F9D873;
    }

    .sorry_message div.main_message {
        display: table-cell;
        vertical-align: middle;
    }

    .sorry_message div p {
        line-height: 1.8;
        margin-bottom: 7%;
        display: block;
    }

    .sorry_message div h3 {
        line-height: 1.3;
        font-size: 23px;
        width: 70%;
        font-weight: 800;
        font-family: 'Sofia Pro Bold';
        margin-bottom: 5px;
    }

    .superhero {
        width: 80%;
        height: auto;
        margin: 0% auto;
        display: block;
        margin-bottom: 10px;
    }

    .card.alt .navigation {
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    }

    footer {
        background: #141518;
        padding: 15% 0;
    }
}

.download_template_div {
    background: url('../images/homepage/morocco.jpg');
    background-position: center;
    background-size: cover;
}

.opening_template_div {
    background: url('../images/homepage/sec_giraffe.jpg');
    background-position: center;
    background-size: cover;
}

.flex_template {
    display: flex;
}

.flex_template div.flex_div {
    flex: 1;
}

.template_modal .modal-body {
    padding: 0%;
}

.template_modal .modal-dialog {
    width: 900px;
    max-width: unset;
}

.template_modal .modal-header {
    display: none;
}

.template_modal ul li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.7;
    list-style: inside;
}

.template_modal ul p {
    font-size: 14px;
    line-height: 1.7;
}

.template_modal .contain {
    padding: 8% 3%;
    padding-bottom: 15%;
}

.template_modal .contain h3 {
    font-size: 18px;
    font-weight: 700;
}

.template_modal .contain button {
    width: 100%;
    font-weight: 500;
}



.download_action_button.second_one {
    display: none;
}

@media screen and (max-width: 720px) {
    .nav-content .times {
        left: 20px;
    }

    .nav-content ul {
        padding-top: 120px;
    }
}

.template-header-display {
    background: #c8dcf3;
    /* height: 20rem; */
    display: flex;
    align-items: center;
}

.template-header-display h3 {
    width: 80%;
    line-height: 1.4;
    font-size: 1.8rem;
}

.template-header-display p {
    width: 90%;
    font-size: 1rem;
    line-height: 1.8;
}

.template-header-display .grid_2 {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.template-header-display .first_template_display,
.template-header-display .second_template_display {
    flex: 1;
}

.template-header-display .grid_2 img {
    margin: 0% auto;
    display: block;
}

.template-header-display button {
    background: #000;
    color: #fff;
    padding: 12px 15px;
    border-radius: 3px;
    font-family: 'Wotfard Regular';
}

.price-tag {
    background: #000;
    color: #fff;
    padding: 4px 15px;
    padding-bottom: 2px;
    width: max-content;
    font-size: .6rem;
    border-radius: 50px;
    font-family: 'Wotfard Regular';
}

.template-detail-display {
    display: flex;
    margin: 0px;
    padding-left: 0px;
    grid-gap: 15px;
    margin-bottom: 10px;
}

#showColor li, .template-detail-display li {
    list-style: none;
    line-height: 2.1;
    color: #0d1216;
    font-size: .9rem;
    font-family: 'Wotfard Regular';
}

#showColor {
    margin-bottom: 10px;
}

.modal-header {
    display: none !important;
}

.template_preview a.bg_black {
    margin-bottom: 12px;
    padding: 12px !important;
    font-size: .9rem;
    background: #8b3dff;
    border: 1px solid #8b3dff;
    opacity: 1;
    font-weight: unset;
    font-family: 'Wotfard Regular';
}

button.close.modal_button {
    background: #EF3D3D;
    border: 2px solid #EF3D3D;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 12px;
    font-size: .9rem;
    opacity: 1;
    font-weight: unset;
    font-family: 'Wotfard Regular';
}

.img-fluid.img-real {
    width: 100%;
    height: 100%;
}


.modal.fade .template_block_body .tag_blocks .tags a {
    font-size: .7rem;
}

.modal.fade .template_block_body h3 {
    margin-top: 5%;
    font-size: 1rem;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 720px) {

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block;
    }

    .template-header-display .grid_2 {
        display: flex;
        flex-direction: column-reverse;
    }
    footer .grid_4 {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }

    .template-header-display .grid_2 img {
        width: 80%;
        height: auto;
        margin: unset;
    }
    .template-header-display h3 {
        width: 100%;
        font-size: 1.4rem;
    }
    .template-header-display p {
        font-size: .9rem;
        width: 100%;
    }
    .template-header-display {
        padding-bottom: 30px;
    }
    .template-header-display button {
        font-size: .9rem;
    }

    .template_block_body .grid_4 {
        grid-gap: 5px;
    }

    footer p, footer ul li a {
        line-height: 1.8;
    }

    .modal-body.template_preview .template_block_body {
        display: none;
    }

    .modal-body.template_preview .row {
        padding-bottom: 30px;
    }
    .navigation .mobile-only img {
        font-size: 4rem;
        height: 2rem;
    }
}